<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="PracticeProjects" parallel="false">

    <test name="PracticeProjectsAutomations">
        <parameter name="browser" value="chrome"/>

        <classes>
            <class name="com.qa.testcases.HomePageTests"/>
            <class name="com.qa.testcases.CartPageTests"/>

        </classes>

    </test>
</suite>